body {
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}

#global {
    width: 70%;
    margin: 0px auto;
    margin-top: 35px;
    padding: 25px;
    background: white;
    box-shadow: 0px 0px 3px gray;
}

#logo {
    font-family:
        Verdana, Arial;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 75px;
    background:
        green;
    color: white;
    text-align: center;
    width: 585px;
    height: 80px;
    margin-bottom:
        20px;
    float: left;
}

* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    float: none;
    clear: both;
}

#menu {
    font-family: Helvetica, Arial;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#menu ul {
    line-height: 46px;
    list-style: none;
}

#menu ul li {
    height: 46px;
    display:
        inline-block;
    transition: all 300ms;
}

#menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

#menu ul li:hover {
    background: green;
}

#posts {
    width: 60%;
    float: left;
    font-family:
        Helvetica, Arial;
}

.post h2 {
    font-size: 30px;
    color: #333;
}

.post {
    padding: 7px;
}

.post .fecha-publicacion {
    display: block;
    color: gray;
    margin-top: 5px;

}

.post p {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 20px;
    text-align: justify
}

.boton-mas {
    font-size: 14px;
    text-align: center;
    display: block;
    padding: 15px;
    background: green;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    width: 70px;
    margin-bottom: 20px;
}

.sidebar {
    font-family:
        Helvetica, Arial;
    width: 31%;
    float: right;
}

.sidebar h4 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333;
    background: url('../img/lines.png') repeat-x;
}

.sidebar span {
    background: white;
    padding: 5px;
}

.sidebar img {
    width: 100%;
    padding: 5px;
}

.sidebar p {
    font-size: 15px;
    text-align: justify;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 85%;
    margin-bottom: 10px;
    margin-top: 5px;
}

form input[type="submit"] {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
}

footer {
    font-family: Helvetica, Arial;
    color: white;
    height: 47px;
    background:
        rgba(51, 51, 51, 0.70);
    margin: 0px auto;
    width: 65%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
    text-align: center;
}

.ir-arriba {
    color: white;
    text-decoration: none;
    display: block;
    float: right;
}

.bx-wrapper,
.bx-viewport {
    height: 250px !important;
}

#cambiador-temas {
    position: fixed;
    top: 40%;
    background: rgba(51, 51, 51, 0.5);
    width: 50px;
    height: 100px;

}

#cambiador-temas div {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    display: block;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#cambiador-temas #verde {
    background: green;
}

#cambiador-temas #rojo {
    background: red;
}

#cambiador-temas #azul {
    background: blue;
}

.ir-arriba {
    color: white;
    text-decoration: none;
    display: block;
    float: right;
}