body {
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}

#logo {
    font-family:
        Verdana, Arial;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 75px;
    background:
        red;
    color: white;
    text-align: center;
    /* width: 100%; */
    height: 80px;
    margin-bottom:
        20px;
    /* float: left; */
}

#menu ul li:hover {
    background: red;
}

.boton-mas {
    font-size: 14px;
    text-align: center;
    display: block;
    padding: 15px;
    background: red;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    width: 70px;
    margin-bottom: 20px;
}